<div class="about-me-big-container">
<div class="about-me-container">
<div class="about-me-upper-part">
    <div class="profil-img-about-me-container">
        <img class="profil-img" src="assets/img/profilbild-platzhalter.png" alt="">
    </div>
    <div class="about-me-text-container">
        <span><h1>About Me</h1></span>
        <div class="about-me-text">
            "I am a passionated weightlifter and front end developer, who loves to push myself to the limit"
        </div>
        
    </div>
</div>


</div>


</div>
