<div class="about-me-big-container">
    <div class="about-me-container">
        <div class="about-me-upper-part">
            <div class="profil-img-about-me-container">
                <img class="profil-img" src="assets/img/profilbild-platzhalter.png" alt="">
            </div>
            <div class="about-me-text-container">
                <span>
                    <h1>About Me</h1>
                </span>
                <div class="about-me-text">
                    "I am a passionated weightlifter and front end developer, who loves to push myself to the limit"
                </div>
            </div>
        </div>

        <div class="my-journey-container">
            <div class="my-journey">
                <div class="my-journey-img-container"><img class="my-journey-img" src="assets/img/walk-line.png"></div>
                <div class="my-journey-began-and-text-container">
                    <span class="my-journey-began">
                        MY JOURNEY BEGAN
                    </span>
                    <div class="my-journey-text">
                        As an in technology interested guy,
                        who recognized that digitisation goes extremely straight ahead,
                        i realized that moving with the time becomes necessary for me.

                    </div>
                </div>
            </div>
            <div class="my-journey">
                <div class="my-journey-img-container"><img class="my-journey-img" src="assets/img/heart-line.png"></div>
                <div class="my-journey-began-and-text-container">
                    <span class="my-journey-began">
                        MY SEARCH
                    </span>
                    <div class="my-journey-text">
                        I was looking for something that is useful for the future as well as having fun in an
                        occupational
                        task. So i
                        started coding tutorials to get a feeling for it and in a short time of practice i fell in love.
                        <br>
                        <br>
                        (and sometimes hate :D)

                    </div>
                </div>
            </div>
            <div class="my-journey">
                <div class="my-journey-img-container"><img class="my-journey-img" src="assets/img/search-line.png">
                </div>
                <div class="my-journey-began-and-text-container"><span class="my-journey-began">
                        MY PASSION
                    </span>
                    <div class="my-journey-text">
                        But doing tutorials just for fun wasn`t enough for me.
                        I decided to join the Developer-Akademie for having a professional guideline in this industry,
                        also to develope much faster in my skills. And becoming a front end engineer.
                    </div>
                </div>
            </div>
            <div class="my-journey">
                <div class="my-journey-img-container"><img class="my-journey-img"
                        src="assets/img/flight-takeoff-line.png"></div>
                <div class="my-journey-began-and-text-container">
                    <span class="my-journey-began">
                        MY GOAL
                    </span>
                    <div class="my-journey-text">
                        Is to become a experienced developer in different areas,
                        while working on smart-projects with a great team where we can exchange knowledge.
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>