<div class="big-myWork-container">
<div class="myWork-container">
    <h2>My work</h2>

    <div class="filter-btn-container">
        <button class="filter-btn">All</button>
        <button class="filter-btn">Angular</button>
        <button class="filter-btn">Javascript</button>
    </div>

    <div class="myWork-cube-container">
        <div class="myWork"><img class="work-img" src="assets/img/bildschirm1.jpg" alt=""></div>
        <div class="myWork"><img class="work-img" src="assets/img/bildschirm2.jpg" alt=""></div>
        <div class="myWork"><img class="work-img" src="assets/img/bildschirm3.jpg" alt=""></div>
        <div class="myWork"><img class="work-img" src="assets/img/bildschirm4.jpg" alt=""></div>


    </div>
</div>
</div>
