<div class="big-contact-me-container">
    <div class="contact-me-container">
        <div class="contact-me-headline-container">
            <span class="contact-me-headline">Contact me.</span>
            <span class="contact-me-sub-headline">
                Get in touch via the form below, or by emailing d.niemietz97@gmx.de
            </span>
        </div>

        <div class="contact-me-fill-container">
            <div class="contact-me-fill-format">
                <div class="contact-me">Name</div>
                <div class="contact-me"><input class="contact-me" placeholder="Enter your text"></div>
            </div>
            <div class="contact-me-fill-format">
                <div class="contact-me">E-mail adress</div>
                <div class="contact-me"><input class="contact-me" placeholder="Enter your Email adress"></div>
            </div>
            <div class="contact-me-textarea-container">
                <div class="contact-me">Message</div>
                <div class="contact-me-textarea"><textarea class="textarea" placeholder="Enter your message"></textarea></div>
            </div>

            <div class="send-container"><button class="send-btn">Send</button></div>
        </div>

    </div>
</div>