<div class="big-skills-container">
    <div class="mySkills-container">
        <h2>My Skills</h2>
        <div class="skill-container">

            <div class="row">
                <div id="skill-ID" class="skill fadeInBottom">
                    <div class="skill-img-container"> <img class="skill-img" src="assets/img/javascript.png"></div>
                    <h3>Javascript</h3>
                </div>

                <div id="skill-ID" class="skill fadeInBottom">
                    <div class="skill-img-container"> <img class="skill-img" src="assets/img/angular.png"></div>
                    <h3>Angular</h3>
                </div>

                <div id="skill-ID" class="skill fadeInBottom">
                    <div class="skill-img-container"> <img class="skill-img" src="assets/img/HTML_CSS_Icon.png"></div>
                    <h3>HTML / CSS</h3>
                </div>
            </div>

            <div class="row">
                <div id="skill-ID" class="skill fadeInBottom">
                    <div class="skill-img-container"> <img class="skill-img" src="assets/img/SCRUM.png"></div>
                    <h3>SCRUM</h3>
                </div>

                <div id="skill-ID" class="skill fadeInBottom">
                    <div class="skill-img-container"> <img class="skill-img" src="assets/img/git-icon.png"></div>
                    <h3>Git</h3>
                </div>

                <div id="skill-ID" class="skill fadeInBottom">
                    <div class="skill-img-container"> <img class="skill-img" src="assets/img/Group 20.png"></div>
                    <h3>Design Thinking</h3>
                </div>
            </div>
            <div class="row">
                <div id="skill-ID" class="skill fadeInBottom">
                    <div class="skill-img-container"> <img class="skill-img" src="assets/img/API.png"></div>
                    <h3>Rest API</h3>
                </div>

                <div id="skill-ID" class="skill fadeInBottom">
                    <div class="skill-img-container"> <img class="skill-img" src="assets/img/test-automation.png"></div>
                    <h3>Test Automation</h3>
                </div>

                <div id="skill-ID" class="skill fadeInBottom">
                    <div class="skill-img-container"> <img class="skill-img" src="assets/img/databases.png"></div>
                    <h3>Databases</h3>
                </div>
            </div>

        </div>
    </div>

</div>